{
    "clients":{
        "Full Client Name":{
            "abbreviation": "FCN",
            "contacts":{
                "FirstName LastName": "+19017771234",
                "Second Person": "+19876543210"
            }
        }
    }

}